.nav{
    background-color: black;
    height : 60px;
    position : relative;
    bottom : 20px;
}
.text1{
    color: white;
    font-size: 18px;
    position : relative;
    top : 30px;
    left : 50px;
}
.text2{
    color: white;
    font-size: 18px;
    position : relative;
    top : 30px;
    left : 600px;
}
.text3{
    color: white;
    font-size: 18px;
    position: relative;
    top : 30px;
    left : 700px;
    
    
}
.text4{
    color: white;
    font-size: 18px;
    position : relative;
    top : 30px;
    left : 800px;
    

}
.image{
    position: relative;
    top : 70px;
    left : 40%;
    width :  20%;
}
.block{
    background-color: cadetblue;
    height : 650px;
    position: relative;
    bottom : 20px;
}
.text5{
    position: relative;
    bottom : 40px;
    color: white;
    left : 450px;
}
.line1{
    width : 10%;
    position: relative;
    top : 130px;
    color: white;
   left : 450px;

}
.icon1{
    position: relative;
    left : 600px;
    top: 80px;
    color: white;
    

}
.line2{
    width : 10%;
    position: relative;
    top : 50px;
    color: white;
    left : 650px;
}
.text6{
    color : white;
    font-size: 18px;
    position: relative;
    left: 400px;
}
@media only screen and (max-width : 600px) {
    .nav{
        background-color: black;
        height : 60px;
        position : relative;
        bottom : 20px;
    }
    .text1{
        color: white;
        font-size: 18px;
        position : relative;
        top : 30px;
        left : 50px;
    }
    .text2{
        color: white;
        font-size: 15px;
        position : relative;
        top : 25px;
        left : 100px;
    }
    .text3{
        color: white;
        font-size: 15px;
        position: relative;
        top : 25px;
        left : 120px;
        
        
    }
    .text4{
        color: white;
        font-size: 15px;
        position : relative;
        top : 25px;
        left : 150px;
        
    
    }
    .block{
        background-color: cadetblue;
        height : 600px;
        position: relative;
        bottom : 20px;
        overflow: hidden;
    }
    .text5{
        position: absolute;
        top : 190px;
        color: white;
        left : 100px;
    }
    .line1{
        width : 20%;
        position: relative;
        top : 130px;
        color: white;
       left : 140px;
    
    }
    .icon1{
        position: relative;
        left : 220px;
        top: 90px;
        color: white;
        
    
    }
    .line2{
        width : 20%;
        position: relative;
        top : 60px;
        color: white;
        left : 230px;
    }
    .text6{
        color : white;
        font-size: 18px;
        position: relative;
        left: 50px;
        top : 60px;
    }
   
}